@use '../custom' as *;

#formulario {
    min-height: 100vh;
    margin: 20px;
    
    h1 {
        font-size: 1rem * 2 !important;
        margin-bottom: 40px;
    }
    a{
        font-weight: 600;
        text-decoration: none;
    }
    .btn {
        margin-top: 20px;
    }
}

#labelCondiciones {
    font-size: 14px;
}

#formularioHome{
    a{
        color: $grey;
        text-decoration: none;
    }
}

.linkVolver{
    color: $grey;
    text-decoration: none;
}